@model IEnumerable<AkCadeMic.Models.ThreadH>

@{
    ViewData["Title"] = "Manage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="text-center">
    <h1>Manage HUMSS Threads</h1>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                Post Id
            </th>
            <th>
                Subject
            </th>
            <th>
                Body
            </th>
            <th>
                Action
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PostIdH)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SubjectH)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BodyH)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PostIdH">Edit</a>
                <a asp-action="Delete" asp-route-id="@item.PostIdH"
                   onclick='return confirm("Are you sure?");'>Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>