@model IEnumerable<AkCadeMic.Models.Thread>

@{
    ViewData["Title"] = "Manage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="text-center">
    <h1>Manage ABM Threads</h1>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                Post Id
            </th>
            <th>
                Subject
            </th>
            <th>
                Body
            </th>
            <th>
                Action
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PostId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Subject)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Body)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PostId">Edit</a>
                <a asp-action="Delete" asp-route-id="@item.PostId"
                   onclick='return confirm("Are you sure?");'>Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>